/* ------------------ MENU LATERAL ------------------*/

.voltar .btn  {
  margin-top: 30px;
  width: 100%;
}


.menu-lateral h6 {
  text-align: center;
}

.menu-lateral ul {
  list-style: none;
  padding-left: 0;
}

.menu-lateral ul li a {
  text-decoration: none;
}

.menu-lateral .btn {
  width: 150px;
  margin-top: 10px;
}

.menu-lateral {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 20px;
}

.menu-lateral details ul {
  text-align: center;
}

/*  SANFONA   */
details {
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #87c58f;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

/* ------------------ CURSO ------------------*/

.curso h1 {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.curso h4 {
  color: #bed5dc;
  margin-bottom: 40px;
}

@media screen and (max-width:575.9px) {
    .curso h4 {
        margin-bottom: 25px;
    }
}

.container-curso-texto h5 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: none;
}

.curso p {
  padding-bottom: 30px;
  text-align: justify;
}
.curso span {
  color: #bed5dc;
  font-family: "Montserrat";
}

.container-curso-video img {
  width: 100%;
}

