/* ------------------ MENU LATERAL ------------------*/

.menu-lateral img {
    width: 100%;
}

.container-img {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767.9px) {
    .menu-lateral img {
        width: 70%;
    }
}

.menu-lateral h6 {
  text-align: center;
}

.menu-lateral ul {
    list-style: none;
    padding-left: 0;
}

.menu-lateral ul li a {
    text-decoration: none;
}

.menu-lateral .btn {
    width: 150px;
    margin-top: 10px;
}

.menu-lateral {
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
}

.menu-lateral details ul {
    text-align: center;
}

/*  SANFONA   */
details {
    overflow: hidden;
}

summary {
    padding: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #87c58f;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display:none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.menu .btn {
    display: flex;
    justify-content: end;
    padding-top: 100px;
}


/* ------------------ CURSOS ------------------*/

.container-curso {
    padding: 20px;
    border: solid 1px #87c58f;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 767.9px) {
    .container-curso {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.container-curso-img {
    width: 20%;
    display: inline-block;
}

.container-curso-img img {
    width: 100%;
}

.container-curso-texto {
    width: 80%;
    float: right;
}

@media screen and (max-width: 991.9px) {
    .container-curso-img {
        display: none;
    }

    .container-curso-texto {
        float: none;
        display: block;
        width: 100%;
    }
}


.cursos h5 {
    text-align: left;
    text-transform: uppercase;
    margin-left: 25px;
}

.container-curso-texto p {
    margin-left: 25px;
    margin-top: 10px;
}

.cursos span {
    color: #87c58f;
    font-family: 'Montserrat';
}


/* PAGINATION */
.page-link {
    color: #0f5088 !important;
}

.page-item.active .page-link {
    background-color: #bed5dc;
    border: solid 0.8px #bed5dc;
    color: #0f5088;
}




